@import 'tailwindcss';

@theme {
    --breakpoint-sm: 430px;
    --breakpoint-md: 744px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1600px;

    --background-image-admin: url('/assets/images/main-lg.jpg');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
